*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

header{
    height: 10vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

img{
    vertical-align: middle;
}


footer{
    height: 10vh;

}

.main{
   
    background-color: rgba(127, 255, 212, 1);
    display:flex;
    align-items: center;
    justify-content: center;
}

#livello{
    font-size: 15px;
    margin:20px;
}

.btn{
    font-size: 15px;
    padding: 1px 6px;
}

.container{
    width: 1000px;
    
    margin:2rem auto;
    display:flex;
    justify-content: center;
    
    
}


.cells{
    display:flex;
    flex-wrap: wrap;
}

.cella{
    border:1px solid black;
    aspect-ratio: 1 / 1;
    display:flex;
    justify-content: center;
    align-items: center;
}

